h4 {
    color: #26A69A;
}

a {
    text-decoration: none;
    color: #d830ee;
}

#tudo {
    display: block;
    margin-left: 200px;
    margin-right: 200px;
    margin-top:90px;
    background-color: #111616;
    padding: 40px 40px 40px 40px;
}

.btn { width: 100%;}