<div id="tudo">
<h2> {{title}} </h2>
<hr/>

<section id="form">
    <form (ngSubmit)="onSubmit()" >
        <div class="form-group">
            <input disabled [(ngModel)]="task.today" name="today" placeholder={{dataModelo}} class="form-control">
            <!-- OU
            <label disabled [(ngModel)]="task.dataModelo" name="today" rows="1" class="form-control">{{dataModelo}}</label> -->
        </div>
        <div class="form-group">
            <input required [(ngModel)]="task.title" name="title" placeholder="Título" class="form-control" >
        </div>
        <div class="form-group">
            <input [(ngModel)]="task.description" name="description" placeholder="Descrição" class="form-control">
        </div>
        <div class="form-group">
            <input type="datetime-local" [(ngModel)]="task.setDate" name="setDate" placeholder="ver isso tbm" rows="1" class="form-control">
        </div>
        
        <button type="submit" class="btn salvar mr-2"> <b>Salvar </b></button>
        <button type="button" class="btn cancelar" [routerLink]="['/lembretes']"> <b>Cancelar </b></button>
    </form>
</section>
</div>