
.task-item {
    display: flex;
    flex-direction: column;
    align-items:left;
    background-color: #111616;
    color: rgba(255, 255, 255, 0.418);
}

h2 {
    color: #26A69A;
    font-family: sans-serif;
    margin-top: 30px;
}

.btn {
    background-color: #26A69A;
    color: #DEFFFF;
}