.task-completed {
    text-decoration: line-through;
    text-decoration-color: #990106;
    text-decoration-style: double;
}

.task-description {
    flex-grow: 1;
}

#butoes {
    display: flex;
    flex-direction: row;
    align-items:left;
}

.editar {
    background-color: #26A69A;
    color:#DEFFFF;
}

.remover {
    background-color: #000000;
    color: #DEFFFF;
}

#fontes {
    color: #DEFFFF;
}